/* 头部css==================== */

* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}


/* 一些公共 */

.fl {
    float: left;
    /* display: inline; */
}

.fr {
    float: right;
    /* display: inline; */
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}


/* ====== */

.header_nav {
    width: 1200px;
    margin: 0px auto;
    height: 100px;
    background-size: 100% 100%;
    line-height: 100px;
    position: relative;
}
/* 右边one */

.header_nav .head_nav_rightOne{
    width: 652px;
    height: 20px;
    margin-left: 132px;
    margin-top: -30px;
}
.head_nav_rightOne li{
    margin: 0 16px;
    position: relative;
    top: 23px;
    font-size: 17px;
    font-family: "microsoft yahei";
}
.head_nav_rightOne li a{
    display: block;
    height: 20px;
    color: #4f4f4f;
    text-decoration: none;
}
.head_nav_rightOne li a p{
    display: block;
    height: 20px;
}
/* 微调 */
.head_nav_rightTwo .nav_Center_three{
    position: relative;
    left: 16px;
}
.head_nav_rightTwo .nav_Center_four{
    position: relative;
    left: 26px;
}
.head_nav_rightTwo .nav_Center_five{
    position: relative;
    left: 25px;
}
.head_nav_rightTwo .nav_Center_six{
    position: relative;
    left: 21px;
}


/* 右边two */

.header_nav .head_nav_rightTwo{
    width: 652px;
    height: 16px;
    margin-left: 125px;
}
.head_nav_rightTwo li{
    margin: 0 27px;
    position: relative;
    top: 14px;
    font-size: 13px;
    font-family: "microsoft yahei";
}
.head_nav_rightTwo li a{
    display: block;
    height: 20px;
    color: #4f4f4f;
    text-decoration: none;
}

.head_nav_rightTwo li a p{
    display: block;
    height: 20px;
}

/* 右边three */
.head_nav_rightThree{
    margin-bottom: 0;
}

/* 右边three */
.header_nav .head_nav_rightThree{
    margin-left: 20px;
}
.head_nav_rightThree #Wx_Left{
    padding: 0 15px;
    border-left: 1px solid  #aeaeae;
}